<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>
<body style="{% block body_style %}font-family: verdana; background-color: #F0F0F0;{% endblock %}">

<div style="{% block wrapper_style %}background-color: white; border: 1px solid #979797; margin: 5px 5px 5px 5px;{% endblock %}">

    <h2 style="{% block header_style %}color: white; background-color: #1E70CD; margin: 0px 0px 0px 0px; padding: 10px 10px 10px 10px; font-size: 16px; font-weight: bold; padding: 14px 14px 14px 14px;{% endblock %}">{{ subject }}</h2>

    <div style="{% block content_style %}padding-left: 10px !important; padding-right: 10px !important; color: black !important; margin-bottom:20px{% endblock %}">
        {{ body_html|raw }}
    </div>
    {% include 'EEExtraMailerBundle::noreplyFooter.html.twig' %}
</div>

</body>
</html>
