<div style="padding-left: 10px !important; padding-right: 10px !important; color: black !important;">
    <p style="color:black;">Best regards,<br />
        Team<br />
    {{ 'footer.no_reply' | trans({}, 'EEExtraMailerBundle') }}<br />
    </p>
    <p style="font-size: 50%">{{ 'footer.message_sent_at' | trans({'%date%': "now"|date("r")}, 'EEExtraMailerBundle') }}</p>
    
</div>