{% block subject %}Sample subject, email send by EEExtraMailer{% endblock %}

{% block body_text %}This is sample email send by EEExtraMailer{% endblock %}

{% block body_html %}<p>This is sample email send by EEExtraMailer</p>{% endblock %}