{% block subject %}Sample subject, email sent by EEExtraMailer{% endblock %}

{% block body_text %}This is sample email sent by EEExtraMailer{% endblock %}

{% block body_html %}<p>This is sample email sent by EEExtraMailer</p>{% endblock %}
